@model IEnumerable<CourseAllViewModel>
@using LearnWild.Web.Infrastructure.Extensions;

<div class="container">
	<div class="row my-3">
		<div class="col-md-12">
			@if (User.Identity?.IsAuthenticated ?? false && (User.IsAdmin() || User.IsTeacher()))
			{
				<a asp-controller="Course" asp-action="Create" class="btn btn-success">Create New</a>
			}
			<a asp-controller="Course" asp-action="Calendar" class="btn btn-outline-success">Switch to calendar</a>
		</div>
	</div>

	@if (!Model.Any())
	{
		<h2 class="text-center">No courses found by the given criteria!</h2>
	}

	<div class="row">
		@foreach (var course in Model)
		{
			<partial name="_CoursePartial" model="@course" />

		}
	</div>
</div>
