@model CourseOrderViewModel

<div class="card mb-3">
	<div class="card-body">
		<div class="d-flex justify-content-between">
			<div class="d-flex flex-row align-items-center">
				<div>
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
						 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
				</div>
				<div class="ms-3">
					<h5>@Model.Title</h5>
					<p class="small mb-0">Credits: @Model.Credits</p>
				</div>
			</div>
			<div class="d-flex flex-row align-items-center">
				<div style="width: 80px;">
					<h5 class="mb-0">@($"{Model.Price:f2}")</h5>
				</div>
				<form asp-controller="Cart" asp-action="Remove">
					<input name="CourseId" value="@Model.Id" hidden />
					<button class="btn">
						<i class="bi bi-x-circle"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>