@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6 class="display-6">to</h6>
    <h4 class="display-6">Learn Wild course library</h4>
    <p>Please review our courses <a asp-controller="Course" asp-action="All">here</a>.</p>
</div>
